<!DOCTYPE html>
{% load static %}
{#{% load compress %}#}
<html class="loading" lang="en" data-textdirection="ltr">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <title>
        {% block title %}
        {% endblock %}
    </title>

    <link rel="apple-touch-icon" href="https://img.icons8.com/dusk/50/000000/administrator-male.png">
    <link rel="shortcut icon" type="image/x-icon" href="https://img.icons8.com/dusk/50/000000/administrator-male.png">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i%7CQuicksand:300,400,500,700"
          rel="stylesheet">
{#{% compress css %}#}
    <!-- BEGIN VENDOR CSS-->
    <link rel="stylesheet" type="text/css" href="{% static 'app-assets/css/vendors.css' %}">
    <!-- END VENDOR CSS-->
    {% block css_vendors %}
    {% endblock %}
    <!-- BEGIN MODERN CSS-->
    <link rel="stylesheet" type="text/css" href="{% static 'app-assets/css/app.css' %}">
    <!-- END MODERN CSS-->
    <!-- BEGIN Page Level CSS-->
    <link rel="stylesheet" type="text/css"
          href="{% static 'app-assets/css/core/menu/menu-types/vertical-menu-modern.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'app-assets/css/core/colors/palette-gradient.css' %}">

    {% block css %}
    {% endblock %}

    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/style.css' %}">
    <!-- END Custom CSS-->
    <style>
        .preloader {
            width: 100%;
            height: 100%;
            position: fixed;
            background: #333333;
            z-index: 999999999999999999;
            opacity: .6;
            display: none;
        }

        .preloader img {
            margin-top: 330px;
            margin-left: 45%;
            opacity: 1;
        }

        #spinnme {
            margin: 330px 45%;
        }
    </style>
{#    <script type="text/javascript"> //<![CDATA[#}
{#var tlJsHost = ((window.location.protocol == "https:") ? "https://secure.comodo.com/" : "http://www.trustlogo.com/");#}
{#document.write(unescape("%3Cscript src='" + tlJsHost + "trustlogo/javascript/trustlogo.js' type='text/javascript'%3E%3C/script%3E"));#}
{#//]]>#}
{#</script>#}
{#{% endcompress %}#}
</head>
<body class="vertical-layout vertical-menu-modern 2-columns   menu-expanded fixed-navbar" data-open="click"
      data-menu="vertical-menu-modern" data-col="2-columns">
<div class="preloader" id="main_preloader">
        <img src="{% static 'app-assets/images/icons/progressbar.gif' %}">
</div>

{% include 'base/header.html' %}
{% include 'base/nav.inc.html' %}
<!-- ////////////////////////////////////////////////////////////////////////////-->

<div class="app-content content">
    <div class="content-wrapper">
        <div class="content-header row">
        </div>
        <div class="content-body">

            {% if messages %}
                {% for message in messages %}
                    <div class="alert round bg-{{ message.tags }} alert-dismissible mb-2" role="alert">
									<button type="button" class="close" data-dismiss="alert" aria-label="Close">
										<span aria-hidden="true">×</span>
									</button>
									{{ message }}
								</div>
                {% endfor %}
            {% endif %}


            {% block content %}
            {% endblock %}

        </div>
    </div>
</div>
<!-- ////////////////////////////////////////////////////////////////////////////-->


<footer class="footer footer-static footer-light navbar-border navbar-shadow">
    <p class="clearfix blue-grey lighten-2 text-sm-center mb-0 px-2"><span
            class="float-md-left d-block d-md-inline-block">Copyright  &copy; 2020 DigiLearns</span></p>
</footer>

{#{% compress js %}#}
<!-- BEGIN VENDOR JS-->
<script src="{% static 'app-assets/vendors/js/vendors.min.js' %}"></script>
{% block js_vendor %}

{% endblock %}
<script src="{% static 'app-assets/js/core/app-menu.js' %}"></script>
<script src="{% static 'app-assets/js/core/app.js' %}"></script>
<script>
    function open_preloader() {
        bh = document.body.scrollHeight;
        if (bh < 700) {
            bh = 800;
        }
        $('#main_preloader').css('height', bh + 'px').show();
    }

    function close_preloader() {
        $('#main_preloader').hide();
    }

    $.ajaxSetup({
        beforeSend: function (xhr, settings) {
            function getCookie(name) {
                var cookieValue = null;
                if (document.cookie && document.cookie != '') {
                    var cookies = document.cookie.split(';');
                    for (var i = 0; i < cookies.length; i++) {
                        var cookie = jQuery.trim(cookies[i]);
                        // Does this cookie string begin with the name we want?
                        if (cookie.substring(0, name.length + 1) == (name + '=')) {
                            cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                            break;
                        }
                    }
                }
                return cookieValue;
            }

            if (!(/^http:.*/.test(settings.url) || /^https:.*/.test(settings.url))) {
                // Only send the token to relative URLs i.e. locally.
                xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
            }
        }
    });
</script>
{% block js %}

{% endblock %}

{#{% endcompress %}#}
{##}

</body>
</html>