<div class="main-menu menu-fixed menu-dark menu-accordion menu-shadow" data-scroll-to-active="true">
    <div class="main-menu-content">
        <ul class="navigation navigation-main" id="main-menu-navigation" data-menu="menu-navigation">
            <li>
                <a class="menu-item" href="{% url 'dashboard' %}" data-i18n="nav.dash.main"> <i class="la la-home"></i>Dashboard</a>
            </li>


            <li class=" nav-item">
                <a href="{% url 'class_level_list' %}">
                    <i class="la la-newspaper-o"></i>
                    <span class="menu-title" data-i18n="">Class List</span>
                </a>
            </li>
            <li class=" nav-item">
                <a href="{% url 'student_list' %}">
                    <i class="la la-newspaper-o"></i>
                    <span class="menu-title" data-i18n="">Student List</span>
                </a>
            </li>
            <li class=" nav-item">
                <a href="{% url 'course_list' %}">
                    <i class="la la-newspaper-o"></i>
                    <span class="menu-title" data-i18n="">Course List</span>
                </a>
            </li>
            <li class=" nav-item">
                <a href="{% url 'supervisor_list' %}">
                    <i class="la la-newspaper-o"></i>
                    <span class="menu-title" data-i18n="">Supervisor List</span>
                </a>
            </li>
            <li class=" nav-item">
                <a href="{% url 'triviaquiz_list' %}">
                    <i class="la la-newspaper-o"></i>
                    <span class="menu-title" data-i18n="">Trivia Categories</span>
                </a>
            </li>
            <li class=" nav-item">
                <a href="{% url 'send_airtime' %}">
                    <i class="la la-newspaper-o"></i>
                    <span class="menu-title" data-i18n="">Send Airtime</span>
                </a>
            </li>
            <li class=" nav-item">
                <a href="{% url 'send_sms' %}">
                    <i class="la la-newspaper-o"></i>
                    <span class="menu-title" data-i18n="">Send SMS</span>
                </a>
            </li>

        </ul>
    </div>
</div>
