{% extends 'base/base.html' %}
{% load static %}
{% load humanize %}
{% block title %} Dashboard {% endblock %}

{% block css %}

    <link rel="stylesheet" type="text/css"
          href="{% static 'app-assets/vendors/css/charts/jquery-jvectormap-2.0.3.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'app-assets/vendors/css/charts/morris.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'app-assets/fonts/simple-line-icons/style.css' %}">
    <!-- END Page Level CSS-->
    <!-- BEGIN Custom CSS-->
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-lg-3">
            <div class="card pull-up">
                <div class="card-content">
                    <div class="card-body">
                        <div class="media d-flex">
                            <div class="media-body text-left">
                                <h6 class="text-muted">Total Students</h6>
                                <h3>{{ student.count|intcomma }}</h3>
                            </div>
                            <div class="align-self-center">
                                <i class="icon-user danger font-large-2 float-right"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-3">
            <div class="card pull-up">
                <div class="card-content">
                    <div class="card-body">
                        <div class="media d-flex">
                            <div class="media-body text-left">
                                <h6 class="text-muted">Courses</h6>
                                <h3>{{ courses.count|intcomma }}</h3>
                            </div>
                            <div class="align-self-center">
                                <i class="icon-user success font-large-2 float-right"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-3">
            <div class="card pull-up">
                <div class="card-content">
                    <div class="card-body">
                        <div class="media d-flex">
                            <div class="media-body text-left">
                                <h6 class="text-muted">Quizzes</h6>
                                <h3>{{ quiz.count|intcomma }}</h3>
                            </div>
                            <div class="align-self-center">
                                <i class="icon-user-female success font-large-2 float-right"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-3">
            <div class="card pull-up">
                <div class="card-content">
                    <div class="card-body">
                        <div class="media d-flex">
                            <div class="media-body text-left">
                                <h6 class="text-muted">Trivia Categories</h6>
                                <h3>{{ trivia_cat.count|intcomma }}</h3>
                            </div>
                            <div class="align-self-center">
                                <i class="icon-clock success font-large-2 float-right"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

{#        <div class="col-lg-3">#}
{#            <div class="card pull-up">#}
{#                <div class="card-content">#}
{#                    <div class="card-body">#}
{#                        <div class="media d-flex">#}
{#                            <div class="media-body text-left">#}
{#                                <h6 class="text-muted">Anniversary Today</h6>#}
{#                                <h3>{{ anniversary_count|intcomma }}</h3>#}
{#                            </div>#}
{#                            <div class="align-self-center">#}
{#                                <i class="icon-clock success font-large-2 float-right"></i>#}
{#                            </div>#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
{##}
{#        <div class="col-lg-3">#}
{#            <div class="card pull-up">#}
{#                <div class="card-content">#}
{#                    <div class="card-body">#}
{#                        <div class="media d-flex">#}
{#                            <div class="media-body text-left">#}
{#                                <h6 class="text-muted">Phone Numbers</h6>#}
{#                                <h3>{{ phone_count|intcomma }}</h3>#}
{#                            </div>#}
{#                            <div class="align-self-center">#}
{#                                <i class="icon-calculator success font-large-2 float-right"></i>#}
{#                            </div>#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
{##}
{#        <div class="col-lg-3">#}
{#            <div class="card pull-up">#}
{#                <div class="card-content">#}
{#                    <div class="card-body">#}
{#                        <div class="media d-flex">#}
{#                            <div class="media-body text-left">#}
{#                                <h6 class="text-muted">Email</h6>#}
{#                                <h3>{{ email_count|intcomma }}</h3>#}
{#                            </div>#}
{#                            <div class="align-self-center">#}
{#                                <i class="icon-envelope-letter success font-large-2 float-right"></i>#}
{#                            </div>#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
{#        <div class="col-lg-3">#}
{#            <div class="card pull-up">#}
{#                <div class="card-content">#}
{#                    <div class="card-body">#}
{#                        <div class="media d-flex"  onclick="get_sms_credit()">#}
{#                            <div class="media-body text-left">#}
{#                                <h6 class="text-muted">SMS Credit</h6>#}
{#                                <h3><span id="credit_data">{{ sms_balance|intcomma }}</span></h3>#}
{#                            </div>#}
{#                            <div class="align-self-center">#}
{#                                <i class="icon-refresh success font-large-2 float-right"></i>#}
{#                            </div>#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
    </div>
{#    <div class="row">#}
{#        <div class="col-lg-6">#}
{#            <div class="row">#}
{#                <div class="col-lg-6">#}
{#                    <div class="card pull-up">#}
{#                        <div class="card-header bg-hexagons">#}
{#                            {% percentage phone_count member_list_count as phone_rate %}#}
{#                            {% against_percent phone_rate as phone_rate_against %}#}
{#                            <h4 class="card-title">Phone Number Rate <span class="danger">{{ phone_rate }}%</span></h4>#}
{#                            <a class="heading-elements-toggle"><i#}
{#                                    class="la la-ellipsis-v font-medium-3"></i></a>#}
{##}
{#                        </div>#}
{#                        <div class="card-content collapse show bg-hexagons">#}
{#                            <div class="card-body pt-0">#}
{#                                <div class="chartjs">#}
{#                                    <canvas id="hit-rate-doughnut" height="275"></canvas>#}
{#                                </div>#}
{#                            </div>#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
{#                <div class="col-lg-6">#}
{#                    <div class="card pull-up">#}
{#                        <div class="card-content collapse show bg-gradient-directional-danger ">#}
{#                            <div class="card-body bg-hexagons-success">#}
{#                                {% percentage email_count member_list_count as email_rate %}#}
{#                                {% against_percent email_rate as email_rate_against %}#}
{#                                <h4 class="card-title white">Email Rate <span class="white">{{ email_rate }}%</span>#}
{#                                    <span#}
{#                                            class="float-right"><span class="white">{{ email_count }}</span><span#}
{#                                            class="red lighten-4">/{{ member_list_count }}</span></span>#}
{#                                </h4>#}
{#                                <div class="chartjs">#}
{#                                    <canvas id="deals-doughnut" height="275"></canvas>#}
{#                                </div>#}
{#                            </div>#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
{##}
{#        </div>#}
{#    </div>#}
    <input type="hidden" id="phone_rate_against" value="{{ phone_rate_against }}">
    <input type="hidden" id="phone_rate" value="{{ phone_rate }}">
    <input type="hidden" id="email_rate_against" value="{{ email_rate_against }}">
    <input type="hidden" id="email_rate" value="{{ email_rate }}">

    <input type="hidden" id="male_array" value="{{ male_array }}">
    <input type="hidden" id="female_array" value="{{ female_array }}">
    <input type="hidden" id="months" value="{{ months }}">
    <!--/ Revenue, Hit Rate & Deals -->


{% endblock %}

{% block js_vendor %}
    <!-- BEGIN PAGE VENDOR JS-->
    <script src="{% static 'app-assets/vendors/js/charts/chart.min.js' %}"></script>
    <script src="{% static 'app-assets/vendors/js/charts/raphael-min.js' %}"></script>
    <script src="{% static 'app-assets/vendors/js/charts/morris.min.js' %}"></script>
    <script src="{% static 'app-assets/vendors/js/charts/jvector/jquery-jvectormap-2.0.3.min.js' %}"></script>
    <script src="{% static 'app-assets/vendors/js/charts/jvector/jquery-jvectormap-world-mill.js' %}"></script>
    <script src="{% static 'app-assets/data/jvector/visitor-data.js' %}"></script>
    <!-- END PAGE VENDOR JS-->
    <!-- BEGIN MODERN JS-->
    <!-- END MODERN JS-->
{% endblock %}
{% block js %}

    <!-- BEGIN PAGE LEVEL JS-->
    {#    <script src="{% static 'app-assets/js/scripts/pages/dashboard-sales.js' %}"></script>#}
    <script>
        function get_sms_credit() {
            var p = '/get-credit';
            $.ajax({
                url: p,
                success: function (json) {
                    $('#credit_data').html(json.credit);
                },

                // handle a non-successful response
                error: function (xhr, errmsg, err) {
                    window.location.reload();
                },
                beforeSend: function () {
                },
                complete: function () {
                    window.location.reload();
                }

            });
        }


        var phone_rate_against = $('#phone_rate_against').val();
        var phone_rate = $('#phone_rate').val();
        var email_rate_against = $('#email_rate_against').val();
        var email_rate = $('#email_rate').val();
        var female_array = $('#female_array').val();
        var male_array = $('#male_array').val();
        var months = $('#months').val();
        $(window).on('load', function () {

            // Revenue - CharJS Line
            Chart.defaults.derivedLine = Chart.defaults.line;
            var draw = Chart.controllers.line.prototype.draw;
            var custom = Chart.controllers.line.extend({
                draw: function () {
                    draw.apply(this, arguments);
                    var ctx = this.chart.chart.ctx;
                    var _stroke = ctx.stroke;
                    ctx.stroke = function () {
                        ctx.save();
                        ctx.shadowColor = '#ffb6c0';
                        ctx.shadowBlur = 30;
                        ctx.shadowOffsetX = 0;
                        ctx.shadowOffsetY = 20;
                        _stroke.apply(this, arguments)
                        ctx.restore();
                    }
                }
            });

            Chart.controllers.derivedLine = custom;
            {#            var ctx = document.querySelector("#thisYearRevenue").getContext('2d');#}
            {#            var thisYearRevenueChart = new Chart(ctx, {#}
            {#                type: 'derivedLine',#}
            {#                data: {#}
            {#                    labels: ["Jan", "Feb", "Mar", "Apr", "May", "June", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"],#}
            {#                    datasets: [{#}
            {#                        data: male_array,#}
            {#                        borderWidth: 4,#}
            {#                        borderColor: '#FF4961',#}
            {#                        pointBackgroundColor: "#FFF",#}
            {#                        pointBorderColor: "#FF4961",#}
            {#                        pointHoverBackgroundColor: "#FFF",#}
            {#                        pointHoverBorderColor: "#FF4961",#}
            {#                        pointRadius: 0,#}
            {#                        pointHoverRadius: 6,#}
            {#                        fill: false,#}
            {#                    }]#}
            {#                },#}
            {#                options: {#}
            {#                    responsive: true,#}
            {#                    tooltips: {#}
            {#                        displayColors: false,#}
            {#                        callbacks: {#}
            {#                            label: function (e, d) {#}
            {#                                // return '${e.xLabel} : ${e.yLabel}'#}
            {#                            },#}
            {#                            title: function () {#}
            {#                                return;#}
            {#                            }#}
            {#                        }#}
            {#                    },#}
            {#                    legend: {#}
            {#                        display: false#}
            {#                    },#}
            {#                    scales: {#}
            {#                        xAxes: [{#}
            {#                            gridLines: {#}
            {#                                display: false,#}
            {#                            },#}
            {#                        }],#}
            {#                        yAxes: [{#}
            {#                            ticks: {#}
            {#                                padding: 10,#}
            {#                                stepSize: 1,#}
            {#                                max: 10,#}
            {#                                min: 0,#}
            {#                            },#}
            {#                            gridLines: {#}
            {#                                display: true,#}
            {#                                drawBorder: false,#}
            {#                                lineWidth: 1,#}
            {#                                zeroLineColor: '#e5e5e5',#}
            {#                            }#}
            {#                        }]#}
            {#                    }#}
            {#                }#}
            {#            });#}
            {##}
            {#            var ctx2 = document.querySelector("#lastYearRevenue").getContext('2d');#}
            {#            var lastYearRevenueChart = new Chart(ctx2, {#}
            {#                type: 'line',#}
            {#                data: {#}
            {#                    labels: ["Jan", "Feb", "Mar", "Apr", "May", "June", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"],#}
            {#                    datasets: [{#}
            {#                        data: female_array,#}
            {#                        borderWidth: 4,#}
            {#                        borderDash: [8, 4],#}
            {#                        borderColor: '#c3c3c3',#}
            {#                        pointBackgroundColor: "#FFF",#}
            {#                        pointBorderColor: "#c3c3c3",#}
            {#                        pointHoverBackgroundColor: "#FFF",#}
            {#                        pointHoverBorderColor: "#c3c3c3",#}
            {#                        pointRadius: 0,#}
            {#                        pointHoverRadius: 6,#}
            {#                        fill: false,#}
            {#                    }]#}
            {#                },#}
            {#                options: {#}
            {#                    responsive: true,#}
            {#                    tooltips: {#}
            {#                        displayColors: false,#}
            {#                        callbacks: {#}
            {#                            label: function (e, d) {#}
            {#                                // return '${e.xLabel} : ${e.yLabel}'#}
            {#                            },#}
            {#                            title: function () {#}
            {#                                return;#}
            {#                            }#}
            {#                        }#}
            {#                    },#}
            {#                    legend: {#}
            {#                        display: false#}
            {#                    },#}
            {#                    scales: {#}
            {#                        xAxes: [{#}
            {#                            gridLines: {#}
            {#                                display: false,#}
            {#                            },#}
            {#                        }],#}
            {#                        yAxes: [{#}
            {#                            ticks: {#}
            {#                                padding: 10,#}
            {#                                stepSize: 1,#}
            {#                                max: 10,#}
            {#                                min: 0,#}
            {#                            },#}
            {#                            gridLines: {#}
            {#                                display: true,#}
            {#                                drawBorder: false,#}
            {#                                zeroLineColor: '#e5e5e5',#}
            {#                            }#}
            {#                        }]#}
            {#                    }#}
            {#                }#}
            {#            });#}

            // Hit Rate Chart - CharJS Doughnut
            Chart.defaults.hitRateDoughnut = Chart.defaults.doughnut;
            var draw = Chart.controllers.doughnut.prototype.draw;
            var customDoughnut = Chart.controllers.doughnut.extend({
                draw: function () {
                    draw.apply(this, arguments);
                    var ctx = this.chart.chart.ctx;
                    var _fill = ctx.fill;
                    var width = this.chart.width,
                        height = this.chart.height;

                    var fontSize = (height / 114).toFixed(2);
                    this.chart.ctx.font = fontSize + "em Verdana";
                    this.chart.ctx.textBaseline = "middle";

                    var text = phone_rate + "%",
                        textX = Math.round((width - this.chart.ctx.measureText(text).width) / 2),
                        textY = height / 2;

                    this.chart.ctx.fillText(text, textX, textY);

                    ctx.fill = function () {
                        ctx.save();
                        ctx.shadowColor = '#bbbbbb';
                        ctx.shadowBlur = 30;
                        ctx.shadowOffsetX = 0;
                        ctx.shadowOffsetY = 12;
                        _fill.apply(this, arguments)
                        ctx.restore();
                    }
                }
            });

            Chart.controllers.hitRateDoughnut = customDoughnut;
            var ctx = document.getElementById("hit-rate-doughnut");
            var myDoughnutChart = new Chart(ctx, {
                type: 'hitRateDoughnut',
                data: {
                    labels: ["No Phone", "HAS PHONE"],
                    datasets: [{
                        label: "Phone Rate Chart",
                        backgroundColor: ["#28D094", "#FF4961"],
                        data: [phone_rate_against, phone_rate],
                    }]
                },
                options: {
                    responsive: true,
                    title: {
                        display: false
                    },
                    legend: {
                        display: false
                    },
                    layout: {
                        padding: {
                            left: 16,
                            right: 16,
                            top: 16,
                            bottom: 16
                        }
                    },
                    cutoutPercentage: 92,
                    animation: {
                        animateScale: false,
                        duration: 2500
                    }
                }
            });

            // Deals Chart - CharJS Doughnut
            Chart.defaults.dealsDoughnut = Chart.defaults.doughnut;
            var draw = Chart.controllers.doughnut.prototype.draw;
            var customDealDoughnut = Chart.controllers.doughnut.extend({
                draw: function () {
                    draw.apply(this, arguments);
                    var ctx = this.chart.chart.ctx;
                    var _fill = ctx.fill;
                    var width = this.chart.width,
                        height = this.chart.height;

                    var fontSize = (height / 114).toFixed(2);
                    this.chart.ctx.font = fontSize + "em Verdana";
                    this.chart.ctx.textBaseline = "middle";

                    var text = email_rate + "%",
                        textX = Math.round((width - this.chart.ctx.measureText(text).width) / 2),
                        textY = height / 2;

                    this.chart.ctx.fillText(text, textX, textY);

                    ctx.fill = function () {
                        ctx.save();
                        ctx.shadowColor = '#FF4961';
                        ctx.shadowBlur = 30;
                        ctx.shadowOffsetX = 0;
                        ctx.shadowOffsetY = 12;
                        _fill.apply(this, arguments)
                        ctx.restore();
                    }
                }
            });

            Chart.controllers.dealsDoughnut = customDealDoughnut;
            var ctx = document.getElementById("deals-doughnut");
            var myDoughnutChart = new Chart(ctx, {
                type: 'dealsDoughnut',
                data: {
                    labels: ["No Email", "Has Email Address"],
                    datasets: [{
                        label: "Favourite",
                        borderWidth: 0,
                        backgroundColor: ["#ff7b8c", "#FFF"],
                        data: [email_rate_against, email_rate],
                    }]
                },
                options: {
                    responsive: true,
                    title: {
                        display: false
                    },
                    legend: {
                        display: false
                    },
                    layout: {
                        padding: {
                            left: 16,
                            right: 16,
                            top: 16,
                            bottom: 16
                        }
                    },
                    cutoutPercentage: 94,
                    animation: {
                        animateScale: false,
                        duration: 5000
                    }
                }
            });


            //Total Earnings

            var ctx3 = document.getElementById("earning-chart").getContext("2d");

            // Chart Options
            var earningOptions = {
                responsive: true,
                maintainAspectRatio: false,
                datasetStrokeWidth: 3,
                pointDotStrokeWidth: 4,
                tooltipFillColor: "rgba(0,0,0,0.8)",
                legend: {
                    display: false,
                    position: 'bottom',
                },
                hover: {
                    mode: 'label'
                },
                scales: {
                    xAxes: [{
                        display: false,
                    }],
                    yAxes: [{
                        display: false,
                        ticks: {
                            min: 0,
                            max: 70
                        },
                    }]
                },
                title: {
                    display: false,
                    fontColor: "#FFF",
                    fullWidth: false,
                    fontSize: 40,
                    text: '82%'
                }
            };

            // Chart Data
            var earningData = {
                labels: ["January", "February", "March", "April", "May", "June", "July"],
                datasets: [{
                    label: "My First dataset",
                    data: [28, 35, 36, 48, 46, 42, 60],
                    backgroundColor: 'rgba(255,117,136,0.12)',
                    borderColor: "#FF4961",
                    borderWidth: 3,
                    strokeColor: "#FF4961",
                    capBezierPoints: true,
                    pointColor: "#fff",
                    pointBorderColor: "#FF4961",
                    pointBackgroundColor: "#FFF",
                    pointBorderWidth: 3,
                    pointRadius: 5,
                    pointHoverBackgroundColor: "#FFF",
                    pointHoverBorderColor: "#FF4961",
                    pointHoverRadius: 7,
                }]
            };

            var earningConfig = {
                type: 'line',

                // Chart Options
                options: earningOptions,

                // Chart Data
                data: earningData
            };

            // Create the chart
            var earningChart = new Chart(ctx3, earningConfig);


            // Vector Maps
            // -----------------------------------
            $('#world-map-markers').vectorMap({
                map: 'world_mill',
                backgroundColor: '#fff',
                zoomOnScroll: false,
                series: {
                    regions: [{
                        values: visitorData,
                        scale: ['#ff7588', '#fddde1'],
                        normalizeFunction: 'polynomial'
                    }]
                },
                onRegionTipShow: function (e, el, code) {
                    el.html(el.html() + ' (Visitor - ' + visitorData[code] + ')');
                }
            });


            //Sessions by Browser
            // -----------------------------------
            Morris.Donut({
                element: 'sessions-browser-donut-chart',
                data: [{
                    label: "Chrome",
                    value: 3500
                }, {
                    label: "Firefox",
                    value: 2500
                }, {
                    label: "Safari",
                    value: 2000
                }, {
                    label: "Opera",
                    value: 1000
                }, {
                    label: "Internet Explorer",
                    value: 500
                }],
                resize: true,
                colors: ['#40C7CA', '#FF7588', '#2DCEE3', '#FFA87D', '#16D39A']
            });
        });
    </script>
{% endblock %}