{% extends 'base/base.html' %}
{% load static %}
{% block title %} Module Quiz {% endblock %}
{% block css_vendors %}
    <link rel="stylesheet" type="text/css"
          href="{% static 'app-assets/vendors/css/tables/datatable/datatables.min.css' %}">
    <link rel="stylesheet" type="text/css"
          href="{% static 'app-assets/vendors/css/tables/extensions/responsive.dataTables.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'app-assets/vendors/css/ui/jquery-ui.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'app-assets/css/plugins/ui/jqueryui.css' %}">
    <style>
        #shoing_counter {
            width: 100%;
            margin-top: 17px;
            float: left;
            color: maroon;
            font-size: 1.5rem;
        }
    </style>
{% endblock %}
{% block css %}
    <style>
        .field_error li {
            color: red;
            list-style: none;
            text-align: right;
        }
    </style>
{% endblock %}
{% block content %}

    <!-- Alternative pagination table -->
    <section id="pagination">
        <div class="row">

            <div class="col col-6">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Module List for {{ course.title }}</h4>

                        <a class="heading-elements-toggle"><i class="la la-ellipsis-v font-medium-3"></i></a>
                        <div class="heading-elements">
                            <ul class="list-inline mb-0">
                                <li><a data-action="collapse"><i class="ft-minus"></i></a></li>
                                <li><a data-action="expand"><i class="ft-maximize"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="card-content collapse show">
                        <div class="card-body card-dashboard">
                            <p class="card-text"></p>


                            <table class="table table-striped table-bordered alt-pagination responsive dataex-res-visibility"
                                   id="m_table_1">
                                <thead>
                                <tr>
                                    <th>SN</th>
                                    <th>title</th>
                                    <th>Order Number</th>
                                    <th>No. of Submodules</th>
                                    <th>Action</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for obj in data %}
                                    <tr>
                                        <td>{{ forloop.counter }}</td>
                                        <td>{{ obj.title }}</td>
                                        <td>{{ obj.order }}</td>
                                        <td>{{ obj.submodule_set.all.count }}</td>

                                        <td>
                                            <div class="action">
                                                 <a href="{% url 'submodule_list' obj.pk %}"
                                                   target="_blank" class="btn btn-primary btn-sm">View SubModules</a>


                                                <a href="{% url 'module_list' course.pk obj.pk %}"><i
                                                        class="ft-edit text-success"></i></a>
{#                                                <form method="post" action="{% url 'crm:delete_member' member.pk %}"#}
{#                                                      id="del_mem_{{ member.pk }}"#}
{#                                                      style="display: inline">#}
{#                                                    {% csrf_token %}#}
{#                                                    <input type="hidden" name="member_delete_id"#}
{#                                                           value="{{ member.pk }} ">#}
{#                                                    <a onclick="delete_member('{{ member.pk }}')"><i#}
{#                                                            class="ft-trash-2 text-warning"></i></a>#}
{#                                                </form>#}


                                            </div>

                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                                <tfoot>
                                <tr>
                                    <th>SN</th>
                                    <th>Title</th>
                                    <th>Order Number</th>
                                    <th>No. of Submodules</th>
                                    <th>Action</th>
                                </tr>
                                </tfoot>
                            </table>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col col-md-6">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title" id="basic-layout-colored-form-control">Form</h4>
                        <a class="heading-elements-toggle"><i class="la la-ellipsis-v font-medium-3"></i></a>
                        <div class="heading-elements">

                        </div>
                    </div>
                    <div class="card-content collapse show">
                        <div class="card-body">

                            <div class="card-text">

                            </div>

                            <form class="form" method="post" novalidate>
                                {% csrf_token %}
                                <div class="form-body">
                                    {#                                    <h4 class="form-section"><i class="la la-eye"></i> About User</h4>#}
                                    <div class="row" style="padding-left: 15px; padding-right: 15px;">
                                        {% for field in form %}
                                            <div class="form-group" style="width: 100%;">
                                                <label>{{ field.label }}</label>
                                                {{ field }}
                                                <span class="field_error">{{ field.errors }}</span>
                                            </div>

                                        {% endfor %}

                                    </div>


                                </div>

                                <div class="form-actions right">

                                    <button type="submit" class="btn btn-primary">
                                        <i class="la la-check-square-o"></i> Save
                                    </button>
                                </div>
                            </form>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}


{% block js_vendor %}
    <script src="{% static 'app-assets/js/core/libraries/jquery_ui/jquery-ui.min.js' %}"></script>
{% endblock %}

{% block js %}
    <script src="{% static 'app-assets/vendors/js/tables/datatable/datatables.min.js' %}"></script>
    <script src="{% static 'app-assets/vendors/js/tables/datatable/dataTables.responsive.min.js' %}"></script>
    <script src="{% static 'app-assets/vendors/js/extensions/sweetalert.min.js' %}"></script>
    <script src="{% static 'app-assets/js/scripts/ui/jquery-ui/date-pickers.js' %}"></script>
    {#    <script src="{% static 'app-assets/js/scripts/tables/datatables-extensions/datatable-responsive.js' %}"></script>#}
    <script>


        $(document).ready(function () {

            $('#m_table_1').DataTable({
                {#scrollX: true#}
            });

        })



    </script>
{% endblock %}

