{% extends 'base/base.html' %}
{% load static %}
{% block title %} Student list {% endblock %}
{% block css_vendors %}
    <link rel="stylesheet" type="text/css"
          href="{% static 'app-assets/vendors/css/tables/datatable/datatables.min.css' %}">
    <link rel="stylesheet" type="text/css"
          href="{% static 'app-assets/vendors/css/tables/extensions/responsive.dataTables.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'app-assets/vendors/css/ui/jquery-ui.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'app-assets/css/plugins/ui/jqueryui.css' %}">
    <style>
        #shoing_counter {
            width: 100%;
            margin-top: 17px;
            float: left;
            color: maroon;
            font-size: 1.5rem;
        }
    </style>
{% endblock %}
{% block css %}
    <style>
        .field_error li {
            color: red;
            list-style: none;
            text-align: right;
        }
    </style>
{% endblock %}
{% block content %}

    <!-- Alternative pagination table -->
    <section id="pagination">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Student List</h4>

                        <a class="heading-elements-toggle"><i class="la la-ellipsis-v font-medium-3"></i></a>
                        <div class="heading-elements">
                            <ul class="list-inline mb-0">
                                <li><a data-action="collapse"><i class="ft-minus"></i></a></li>
                                <li><a data-action="expand"><i class="ft-maximize"></i></a></li>
                                <li><a href="{% url 'student_form' %}"><i class="ft-user-plus"></i></a></li>
                            </ul>

                        </div>
                        <a href="{% url 'student_form' %}" class="btn btn-success pull-right">Add User</a>
                    </div>
                    <div class="card-content collapse show">
                        <div class="card-body card-dashboard">
                            <p class="card-text"></p>


                            <table class="table table-striped table-bordered alt-pagination responsive dataex-res-visibility"
                                   id="m_table_1">
                                <thead>
                                <tr>
                                    <th>SN</th>
                                    <th>First Name</th>
                                    <th>Last Name</th>
                                    <th>Phone</th>
                                    <th>DOB</th>
                                    <th>Parent Phone</th>
                                    <th>State</th>
                                    <th>Class</th>
                                    <th>Teacher</th>
                                    <th>Action</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for obj in data %}
                                    <tr>
                                        <td>{{ forloop.counter }}</td>
                                        <td>{{ obj.first_name|title }}</td>
                                        <td>{{ obj.last_name|title }}</td>
                                        <td>{{ obj.phone }}</td>
                                        <td>{{ obj.dob }}</td>
                                        <td>{{ obj.parent_phone }}</td>
                                        <td>{{ obj.state }}</td>
                                        <td>{{ obj.current_class }}</td>
                                        <td>{{ obj.teacher }}</td>

                                        <td>
                                            <div class="action">

                                                <a href="{% url 'student_form' obj.pk %}"><i
                                                        class="ft-edit text-success"></i></a>
{#                                                <form method="post" action="{% url 'crm:delete_member' member.pk %}"#}
{#                                                      id="del_mem_{{ member.pk }}"#}
{#                                                      style="display: inline">#}
{#                                                    {% csrf_token %}#}
{#                                                    <input type="hidden" name="member_delete_id"#}
{#                                                           value="{{ member.pk }} ">#}
{#                                                    <a onclick="delete_member('{{ member.pk }}')"><i#}
{#                                                            class="ft-trash-2 text-warning"></i></a>#}
{#                                                </form>#}


                                            </div>

                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                                <tfoot>
                                <tr>
                                    <th>SN</th>
                                    <th>First Name</th>
                                    <th>Last Name</th>
                                    <th>Phone</th>
                                    <th>DOB</th>
                                    <th>Parent Phone</th>
                                    <th>State</th>
                                    <th>Class</th>
                                    <th>Teacher</th>
                                    <th>Action</th>
                                </tr>
                                </tfoot>
                            </table>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}


{% block js_vendor %}
    <script src="{% static 'app-assets/js/core/libraries/jquery_ui/jquery-ui.min.js' %}"></script>
{% endblock %}

{% block js %}
    <script src="{% static 'app-assets/vendors/js/tables/datatable/datatables.min.js' %}"></script>
    <script src="{% static 'app-assets/vendors/js/tables/datatable/dataTables.responsive.min.js' %}"></script>
    <script src="{% static 'app-assets/vendors/js/extensions/sweetalert.min.js' %}"></script>
    <script src="{% static 'app-assets/js/scripts/ui/jquery-ui/date-pickers.js' %}"></script>
    {#    <script src="{% static 'app-assets/js/scripts/tables/datatables-extensions/datatable-responsive.js' %}"></script>#}
    <script>


        $(document).ready(function () {

            $('#m_table_1').DataTable({
                {#scrollX: true#}
            });

        })



    </script>
{% endblock %}

