{% extends 'base/base.html' %}
{% load static %}
{% block title %} Trivia Quiz Questions {% endblock %}
{% block css_vendors %}
    <link rel="stylesheet" type="text/css"
          href="{% static 'app-assets/vendors/css/tables/datatable/datatables.min.css' %}">
    <link rel="stylesheet" type="text/css"
          href="{% static 'app-assets/vendors/css/tables/extensions/responsive.dataTables.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'app-assets/vendors/css/ui/jquery-ui.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'app-assets/css/plugins/ui/jqueryui.css' %}">
    <style>
        #shoing_counter {
            width: 100%;
            margin-top: 17px;
            float: left;
            color: maroon;
            font-size: 1.5rem;
        }

        .delete_btn_on_multiple {
            float: right;
            margin-bottom: 20px;
        }

        .add-row {
            display: block;
            float: left;
            width: 100%;
        }

        .delete-row {
            margin-top: 30px;
            float: left;
            display: block;
            margin-left: 10px;
        }
    </style>
{% endblock %}
{% block css %}
    <style>
        .field_error li {
            color: red;
            list-style: none;
            text-align: right;
        }
    </style>
{% endblock %}
{% block content %}

    <!-- Alternative pagination table -->
    <section id="pagination">
        <div class="row">
            <div class="col col-md-8">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title" id="basic-layout-colored-form-control">Trivia Quiz Question Form</h4>
                        <a class="heading-elements-toggle"><i class="la la-ellipsis-v font-medium-3"></i></a>
                        <div class="heading-elements">

                        </div>
                    </div>
                    <div class="card-content collapse show">
                        <div class="card-body">

                            <div class="card-text">

                            </div>

                            <form class="form" method="post" novalidate>
                                {% csrf_token %}

                                <div class="form-body">
                                    <div class="row" style="padding-left: 15px; padding-right: 15px;">
                                        {% for field in triv_question_form %}
                                            <div class="form-group" style="width: 100%;">
                                                <label>{{ field.label }}</label>
                                                {{ field }}
                                                <span class="field_error">{{ field.errors }}</span>
                                            </div>

                                        {% endfor %}

                                    </div>


                                    <p class="fin" style="font-size: 2em">Options</p>
                                    <div class="row" style="padding-left: 15px; padding-right: 15px;">
                                        {{ option_formset.management_form }}
                                        {% for form in option_formset.forms %}
                                            <div class="repeater_experience" data-repeater-item=""
                                                 style="position:relative;width: 100%; float: left; ">
                                                {% for field in form %}
                                                    {% if field.name == "text" or field.name == "is_correct" %}
                                                        <div class="form-group"  {% if field.name == "text"  %} style="width: 50%; float: left;" {% elif field.name == "is_correct"  %} style="width: 20%; float: left; margin-top: 30px; margin-left: 6px;" {% endif %}>
                                                            <label>{{ field.label }}</label>
                                                            {{ field }}
                                                            <span class="field_error">{{ field.errors }}</span>
                                                        </div>
                                                    {% endif %}

                                                {% endfor %}
                                            </div>


                                        {% endfor %}

                                    </div>


                                </div>

                                <div class="form-actions right">

                                    <button type="submit" class="btn btn-primary">
                                        <i class="la la-check-square-o"></i> Save
                                    </button>
                                </div>
                            </form>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col col-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Trivia Quiz Questions for {{ triv_quiz.name }}</h4>

                        <a class="heading-elements-toggle"><i class="la la-ellipsis-v font-medium-3"></i></a>
                        <div class="heading-elements">
                            <ul class="list-inline mb-0">
                                <li><a data-action="collapse"><i class="ft-minus"></i></a></li>
                                <li><a data-action="expand"><i class="ft-maximize"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="card-content collapse show">
                        <div class="card-body card-dashboard">
                            <p class="card-text"></p>


                            <table class="table table-striped table-bordered alt-pagination responsive dataex-res-visibility"
                                   id="m_table_1">
                                <thead>
                                <tr>
                                    <th>SN</th>
                                    <th>Question</th>
                                    <th>Options</th>
                                    <th>Order Number</th>
                                    <th>Action</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for obj in triv_quiz.questions %}
                                    <tr>
                                        <td>{{ forloop.counter }}</td>
                                        <td>{{ obj.label }}</td>
                                        <td>
                                            {% for opt in obj.options %}
                                                <span {% if opt.is_correct %}
                                                    style="color: green; font-weight: bolder"{% endif %}>{{ forloop.counter }}. - {{ opt.text }} </span>
                                                <br>
                                            {% endfor %}
                                        </td>
                                        <td>{{ obj.order }}</td>

                                        <td>
                                            <div class="action">


                                                <a href="{% url 'trivia_quiz_question_list' triv_quiz.pk obj.pk %}"><i
                                                        class="ft-edit text-success"></i></a>

                                                <form method="post"
                                                      action="{% url 'trivia_quiz_question_delete' triv_quiz.pk obj.pk %}"
                                                      id="del_mem_{{ obj.pk }}"
                                                      style="display: inline">
                                                    {% csrf_token %}
                                                    <input type="hidden" name="member_delete_id"
                                                           value="{{ obj.pk }} ">
                                                    <a onclick="delete_member('{{ obj.pk }}')"><i
                                                            class="ft-trash-2 text-warning"></i></a>
                                                </form>
                                            </div>

                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                                <tfoot>
                                <tr>
                                    <th>SN</th>
                                    <th>Question</th>
                                    <th>Options</th>
                                    <th>Order Number</th>
                                    <th>Action</th>
                                </tr>
                                </tfoot>
                            </table>

                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section>

{% endblock %}


{% block js_vendor %}
    <script src="{% static 'app-assets/js/core/libraries/jquery_ui/jquery-ui.min.js' %}"></script>
{% endblock %}

{% block js %}
    <script src="{% static 'app-assets/vendors/js/tables/datatable/datatables.min.js' %}"></script>
    <script src="{% static 'app-assets/vendors/js/tables/datatable/dataTables.responsive.min.js' %}"></script>
    <script src="{% static 'app-assets/vendors/js/extensions/sweetalert.min.js' %}"></script>
    <script src="{% static 'app-assets/js/scripts/ui/jquery-ui/date-pickers.js' %}"></script>
    <script src="{% static 'app-assets/vendors/js/jquery.formset.js' %}" type="text/javascript"></script>
    <script>

        $(document).ready(function () {

            $('#m_table_1').DataTable({
                {#scrollX: true#}
            });

        })


        function delete_member(mem_id) {
            swal({
                title: 'Delete this record?',
                text: "This is irreversible",
                icon: 'warning',
                buttons: {
                    cancel: {
                        text: "No, cancel!",
                        value: false,
                        visible: true,
                        className: "",
                        closeModal: true,
                    },
                    confirm: {
                        text: "Yes, delete it!",
                        value: true,
                        visible: true,
                        className: "",
                        closeModal: false
                    }
                }
            }).then(function (isConfirm) {
                if (isConfirm) {
                    $("#del_mem_" + mem_id).submit();
                }
            })

        }


    </script>

    <script>
        $('.repeater_experience').formset({
            addText: '<div data-repeater-create="" style=""  class="btn  btn-sm btn-primary "><span><i class="la la-plus"></i><span>Add More Option</span></span></div>',
            deleteText: '<div class="btn-sm btn btn-danger delete_btn_on_multiple"> <span><i class="la la-trash-o"></i><span>Delete</span></span></div><div class="clearfix"></div>',
            prefix: 'triviaanswer_set'
        });


    </script>
{% endblock %}

